:root{
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-B: hsl(217, 54%, 11%);
    --Very-dark-blue-C: hsl(216, 50%, 16%);
    --Very-dark-blue-L: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}
html{
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: var(--Cyan);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Very-dark-blue-B);
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    color: var(--Soft-blue);
    height: 768px;
    line-height: 1.5;

}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--Very-dark-blue-C); 
    height: 570px;
    padding: 0px 20px;
    width:340px;
    border-radius: 15px;

}
.main-sec{
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.banner{
    margin-top: 20px;
}
.banner .container{
    width: 300px;
    height: 300px;
    border-radius: 8px;

}
.banner img{
    width: 100%;
    height: 100%;
}
.banner:hover{
    background-color: var(--Cyan);
    background-image: url("images/icon-view.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.banner img:hover{
    opacity: 0.4;
}
.content h2{
    font-size:20px ;
    font-weight: 600;
    margin: 10px 0px;
}
.content p{
    font-weight: 300;
    margin-top: 10px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}
.flex p{
padding-left: 10px;


}
.eth p{
    color: var(--Cyan);
    font-weight: 600;
}
.main-sec::after{
content: "";
width: 100%;
height: 1px;
background-color: var(--Very-dark-blue-L);
}
.author {
display: flex;
align-items: center;
margin:10px 0px;
}
.author img{
    width: 32px;
    border: 2px solid white;
    border-radius: 16px;
}
.author p{
    padding: 15px;
    font-weight: 300;
}
.author p > a{
    color: white;
}
.author a:hover{
    color: var(--Cyan);
}